<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/socials/facebook" style="color: #222222;"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/socials/instagram" style="color: #222222;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/socials/linkedin" style="color: #222222;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; BookHaven Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
