<% layout("./layouts/boilerplate") %>  
<div class="bookhaven-title">
    <div class="title-row">
        <h2 class="animate__animated animate__fadeInUp">Welcome To</h2>
        <h1 class="animate__animated animate__fadeInUp">BookHaven</h1>
    </div>
    <form method="GET" action="/listings" class="d-grid gap-2 col-4 mx-auto">
        <button class="btn animate__animated animate__fadeInUp start-btn btn-dark mt-3">Start Your Next Journey</button>
    </form>
</div>


<style>
body {
    background-image: url('/images/icon-bg-grey.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
    